# Python artifacts
__pycache__/
*.py[cod]
*.pyd

# Virtual environments
.venv/
venv/
*venv*/

# Env files
.env

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Build / packaging
build/
dist/
*.egg-info/

# Streamlit
.streamlit/

# OS files
.DS_Store

